/* Estilos para la sección 'Acerca de nosotros' */
.acerca-de-nosotros {
    background-color: #f8f9fa; 
    padding: 2% 5%;
    color: #333; 
}

.acerca-de-nosotros h2 {
    font-size: 2.5rem;
    color: #007bff; 
    border-bottom: 2px solid #007bff; 
    padding-bottom: 10px;
    margin-bottom: 20px;
    text-align: center;
}

.acerca-de-nosotros h3 {
    font-size: 1.8rem;
    color: #0056b3; 
    margin-top: 30px;
    margin-bottom: 15px;
}

.acerca-de-nosotros p {
    font-size: 1.1rem;
    line-height: 1.6;
    margin-bottom: 20px;
    text-align: justify;
}

.acerca-de-nosotros ul {
    list-style-type: none;
    padding-left: 0;
}

.acerca-de-nosotros ul li {
    font-size: 1.1rem;
    line-height: 1.6;
    margin-bottom: 10px;
    padding-left: 20px;
    position: relative;
}

.acerca-de-nosotros ul li::before {
    content: '>'; 
    color: #007bff;
    position: absolute;
    left: 0;
    font-size: 1.5rem;
    top: -2px;
}

.container {
    max-width: 1200px;
    margin: auto;
    padding: 0 20px;
}

.acerca-de-nosotros p, .acerca-de-nosotros ul li {
    transition: color 0.3s ease, transform 0.3s ease;
}

.acerca-de-nosotros p:hover, .acerca-de-nosotros ul li:hover {
    color: #0056b3;
    transform: translateX(5px);
}
