/*Estilos generales , letra header y footer*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    background-color: rgb(255, 255, 255);
    font-family: "Ubuntu", sans-serif;
}
body{
    max-width: 1400px;
    width: 100%;
    min-height: 100vh;
}

header {
    width: 100%;
    min-height: 15vh;
    padding: 1%;

    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    top: 0px;
    position: sticky;
    z-index: 1000;

}

nav > ul,li{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-evenly;
    margin: 10px;
}

a:hover{
    font-size: 1.1rem;
}

/*header y footer logos*/
.logoIMG {
    width: 50px ;
    height: 50px ;
    

}
.logoIMG:hover {
    /* transform: rotate(45deg); */
    width: 55px ;
    height: 55px ;  
    
    
}



/*links*/
a{
    text-decoration: none;
    
}
main{
    width: 100%;
    min-height: 65vh;
    
}

footer{
    width: 100%;
    height: 20vh;
    padding: 1%;

    display: flex;
    flex-direction: column;

    

}



.footerSuperior {
    width: 100%;
    
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footerSuperior > div > ul {
    display: flex;
    flex-flow: row wrap;


}
.footerInferior{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    

}
.footerInferior > div > p{
    color: rgb(185, 185, 185);
}

/*---------------medias query------------------ */

/*medias query header*/
@media (max-width:505px) {
    
    /* .logoIMG {
        display: none;
    }
     */
    header{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        
        width: 100%;
        margin: auto;
        min-height :10vh ;
    }
    nav{
        display: flex;
        flex-direction: column;
        width: 30%;
        margin: auto;
    }
    nav > ul > li > a{
        display: flex;
        justify-content: center;
        width: 100%;
        
    }
    
}

/*medias query footer*/
@media (max-width:655px) {
    .footerInferior ,.footerSuperior{
        min-width: 100%;
        display: flex;
        flex-direction:  column;
        align-items: center;
        justify-content: center;
        text-align: center;

    }


}

@media (max-width:459px) {
    .footerInferior , .footerSuperior{
        min-width: 100%;
        display: flex;
        flex-direction:  column;
        align-items: center;
        justify-content: center;
        text-align: center;
        
    }


}