main {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: black;
    max-width: 1400px;
    width: 100%;
}

.titulo-descripcion, .imagen-principal {
    flex: 1 1 50%;
    min-height: 60vh;
    padding: 5px;
    background-color: black;
    max-width:100%;
    
}

#imgPrincipal {
    width: 100%;
    height: auto;
    background-color: black;
}

h1 {
    font-size: 8.5rem;
    margin-bottom: 20px;
    background-color: black;
    color: aliceblue;
    max-width: 100%;
    width: 100%;
}

#epigrafe {
    font-size: 1.8rem;
    background-color: black;
    color: aliceblue;
}

.marquee {
    width: 100%;
    overflow: hidden;
    background: black;
    color: white;
    padding: 10px 0;
    top: 15vh;
    position: sticky;
}

.marquee-content {
    display: flex;
    animation: marquee 30s linear infinite;
    
}

.marquee-content span {
    padding: 0 2rem;
    white-space: nowrap;
    background: black;
    color: white;
    
}

@keyframes marquee {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}

.botones {
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: flex-start; 
    margin-top: 10px;
}

.boton {
    background-color: #333; 
    color: #fff; 
    border: 2px solid #fff; 
    padding: 10px 20px; 
    border-radius: 5px; 
    cursor: pointer; 
    flex: 0 1 auto; 
    text-align: center; 
    margin: 0 5px; 
}    

.boton:hover { 
    background-color: #555;
}

/*medias query*/
@media (max-width:955px) {
    main{
        display: block;
        padding: 10;
    }
    h1{
        font-size: 5rem;
        text-align: center;
    }
    #epigrafe{
        text-align: center;
        
    }
    .titulo-descripcion, .imagen-principal {
        min-height: 30vh;

    }
    


}
@media (max-width:615px) {
    .marquee{
        display: none;
    }
    
    
}

@media (max-width:500px) {
    h1{
        font-size: 4rem;
        
    }
    

    
}

@media (max-width:491px) {
    
    #epigrafe{
        text-align: center;
        
    }
    .botones{
        display: flex;
        flex-flow: column wrap;
        max-width: 100%;
        min-width: 100%;
        gap: 10px;
        

    }
    .imagen-principal{
        
        display: none;
    }
    
    .titulo-descripcion, .imagen-principal {
        min-height: 25vh;
    }

    
}



/*animacion de pre carga*/


#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: white; 
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.rotating {
    width: 100px; 
    animation: rotate 2s linear infinite;    
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}


#content {
    display: none;
}
