main {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: black;
}

.titulo-descripcion, .imagen-principal {
    flex: 1 1 50%;
    min-height: 60vh;
    padding: 5px;
    background-color: black;
}

#imgPrincipal {
    width: 100%;
    height: auto;
    background-color: black;
}

h1 {
    font-size: 8.5rem;
    margin-bottom: 20px;
    background-color: black;
    color: aliceblue;
}

#epigrafe {
    font-size: 1.8rem;
    background-color: black;
    color: aliceblue;
}

.marquee {
    width: 100%;
    overflow: hidden;
    background: black;
    color: white;
    padding: 10px 0;
    top: 15vh;
    position: sticky;
}

.marquee-content {
    display: flex;
    animation: marquee 30s linear infinite;
}

.marquee-content span {
    padding: 0 2rem;
    white-space: nowrap;
    background: black;
    color: white;
}

@keyframes marquee {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}

.botones {
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: flex-start; 
    margin-top: 10px;
}

.boton {
    background-color: #333; 
    color: #fff; 
    border: 2px solid #fff; 
    padding: 10px 20px; 
    border-radius: 5px; 
    cursor: pointer; 
    flex: 0 1 auto; 
    text-align: center; 
    margin: 0 5px; 
}    

.boton:hover { 
    background-color: #555;
}

/*medias query*/
